/*RED OUTLINE*/
/** {
	outline:1px solid red;
}*/
/*RED OUTLINE*/


/*CURSOR STARTS HERE*/
* {
  --cursorcolors: #FFFFFC;
  cursor: default;
}

#svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

#polyline {
  z-index: 1000;
  stroke-dasharray: 0;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: var(--cursorcolors) !important;
}
/*CURSOR ENDS HERE*/


/*MAIN ELEMENTS*/
body {
	font-family: helvetica; 
	font-weight: 100;
	color:black;
}

.background {
	background-color: #84b2d7;
	border:none;
}

a {
	color:black;
	text-decoration: none;
	cursor:pointer;
}

/*a:hover {
	font-style:italic;
	cursor:pointer;
	color:#04A362;
}*/
/*MAIN ELEMENTS*/


/*AS LOGO STARTS HERE*/
.logo-bar {
	margin-top:2%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	width:100%;
	display:flex;

}

.logo {
	mix-blend-mode: difference;
	border:none;
	color:#84a59d;
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
	border-bottom: 1px dotted black;
	border-radius:25px;
	padding-bottom:0.5%;
}

.logo-nav {
	color:black;
}

.logo-nav:hover {
	color:black;
	font-style:none;
	text-decoration:none;
	cursor:pointer;
}

/*AS LOGO ENDS HERE*/


/*HOMEPAGE HEADER COPY STARTS HERE*/
.bodycopy-highlight {
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.arrow-header {
	color:#04A362;
}
/*HOMEPAGE HEADER COPY ENDS HERE*/


/*ALMA PIC*/
.projects {
	margin-left:5%;
}

.alma-pic img {
	top: 35%;
	left: 65%;
	width: 100%;
	height: auto;
	display:block;
	position:absolute;
	z-index:-1;
		animation-name: fadeInOut;
  	animation-delay: 0s;
  	animation-duration: 9s;
}
/*HP PROJECT PIC ENDS HERE*/


/*PORTFOLIO*/
.download-porto {
	color:#04A362;
	text-decoration:underline;
}
/*PORTFOLIO*/


/*COPY*/
.bodycopy-hp {
	font-size: calc(18px + (44 - 18) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	margin-left:5%;
	margin-right:25%;
	margin-top:10%;
	text-align:left;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 100%;
  }
}


.smallbodycopy {
/*	font-size:26px;
	line-height:34px;*/
	margin-top:2%;
	margin-left:5%;
	margin-right:25%;
	font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.about-title {
	margin-top:5%;
	margin-left:5%;
	margin-right:20%;
	font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	color:#FFFFFC;
}

.about-body {
	margin-top:1%;
	margin-left:8%;
	margin-right:20%;
	font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.about-body-desc {
	margin-right:20%;
	font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.about-body-desc-link {
	text-decoration:none;
	border:1px dotted black;
	border-radius:40%;
}

.contact-link:hover {
	color:black;
	font-style:italic;
}

.about-body-desc-link:hover {
	color:black;
	font-style:italic;
	border:1px solid black;
	border-radius:40%;
}

.navigation {
	color:#FFFFFC;
}

.navigation:hover {
	color:#FFFFFC;
	font-style:italic;
}

.takemehome {
	margin-top:5%;
	margin-left:5%;
	margin-right:20%;
	font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	color:#FFFFFC;
}

.width-50 {
	width:50%;
}

img {
	max-width: 30%;
	height: auto;
}