.background {
	background-color: #FFFFFC;
	border:none;
}

/*PROJECT ONE*/
.background-pr1 {
	background-color: #F4A261;
	border:none;
	margin-top:1%;
}

.titlepr1 {
	color: #FF4F00;
}

.background-pr2 {
	background-color: #2474E2;
	border:none;
	margin-top:1%;
}

.background-pr3 {
	background-color: #04A362;
	border:none;
	margin-top:1%;
}

.background-pr4 {
	background-color: #3C4148;
	border:none;
	margin-top:1%;
}

.background-pr5 {
	background-color: #E0494F;
	border:none;
	margin-top:1%;
}

.background-pr6 {
	background-color: #FFC048;
	border:none;
	margin-top:1%;
}

.background-pr7 {
	background-color: #6D7E6C;
	border:none;
	margin-top:1%;
}

.background-pr7 {
	background-color: #3C4148;
	border:none;
	margin-top:1%;
}

/*TEXT COLOUR*/

