/*RED OUTLINE*/
/** {
	outline:1px solid red;
}*/
/*RED OUTLINE*/


/*CURSOR STARTS HERE*/
* {
  --cursorcolors: #FFFFFC;
  cursor: default;
}

#svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
    mix-blend-mode: difference;
}

#polyline {
  z-index: 1000;
  stroke-dasharray: 0;
  stroke-width: 3;
  stroke-linecap: square;
  stroke: var(--cursorcolors) !important;
}
/*CURSOR ENDS HERE*/


/*AS LOGO STARTS HERE*/
.logo-bar {
	margin-top:0%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	width:100%;
	display:flex;

}

.logo {
	border:none;
	color:#84a59d;
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
	border-bottom: 1px dotted black;
	border-radius:25px;
	padding-bottom:0.5%;
	padding-top:1%;
}

.logo-nav {
	color:black;
}

.logo-nav:hover {
	color:black;
	font-style:none;
	text-decoration:none;
	cursor:pointer;
}
/*AS LOGO ENDS HERE*/


/*MAIN ELEMENTS*/
body {
	font-family: helvetica; 
	font-weight: 100;
	color:black;
}


a {
	color:black;
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	cursor:pointer;
	color:#04A362;
}
/*MAIN ELEMENTS*/

.title {
	font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	margin-left:5%;
	margin-right:25%;
	margin-top:10%;
	text-align:left;
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.titledesc {
	color:#818080;
	margin-bottom:1%;
}

.mainbodycopy {
	margin-top:2%;
	margin-left:5%;
	margin-right:40%;
	font-size: calc(12px + (40 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.about-title {
	margin-top:5%;
	margin-left:5%;
	margin-right:20%;
	font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	color:#FFFFFC;
}

.about-body {
	margin-top:1%;
	margin-left:5%;
	margin-right:45%;
	font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.4em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}


.about-body-desc-link {
	text-decoration:underline;
}

/*NAVIGATION*/
.navigation-home {
	position:fixed;
	bottom:5%;
	left:5%;
	z-index:2;
	font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	mix-blend-mode: difference;
	color:white;
}

.navigation-home:hover {
	font-style:italic;
	color:white;
}

.navigation-next {
	position:fixed;
	bottom:5%;
	right:5%;
	z-index:4;
	font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	mix-blend-mode: difference;
	color:white;
}

.navigation-next:hover {
	font-style:italic;
	color:white;
}

.navigation-prev {
	position:fixed;
	bottom:5%;
	right:18%;
	z-index:4;
	font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	mix-blend-mode: difference;
	color:white;
}

.navigation-prev:hover {
	font-style:italic;
	color:white;
}
/*NAVIGATION*/




img {
	max-width: 100%;
	height: auto;
}