/*RED OUTLINE*/
/** {
	outline:1px solid red;
}*/
/*RED OUTLINE*/


/*CURSOR STARTS HERE*/
* {
  --cursorcolors: #FFFFFC;
  cursor: default;
}

#svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
    mix-blend-mode: difference;
}

#polyline {
  z-index: 1000;
  stroke-dasharray: 0;
  stroke-width: 3;
  stroke-linecap: square;
  stroke: var(--cursorcolors) !important;
}
/*CURSOR ENDS HERE*/


/*MAIN ELEMENTS*/
body {
	font-family: helvetica; 
	font-weight: 100;
	color:black;
}


a {
	color:black;
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	font-style:italic;
	cursor:pointer;
	color:#04A362;
}
/*MAIN ELEMENTS*/

.title {
	font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	margin-left:5%;
	margin-right:25%;
	margin-top:10%;
	text-align:left;
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.titledesc {
	color:#818080;
}

.mainbodycopy {
	margin-top:2%;
	margin-left:5%;
	margin-right:40%;
	font-size: calc(12px + (40 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.about-title {
	margin-top:5%;
	margin-left:5%;
	margin-right:20%;
	font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
	color:#FFFFFC;
}

.about-body {
	margin-top:1%;
	margin-left:5%;
	margin-right:45%;
	font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}


.about-body-desc-link {
	text-decoration:underline;
}

/*AS LOGO STARTS HERE*/
.logo-bar {
	position:fixed;
	margin:2%;
	z-index: 2;
}

.logo {
	font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
	border:none;
	color:#000000;
	font-family: degular-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	opacity:50%;
}
/*AS LOGO ENDS HERE*/


img {
	max-width: 100%;
	height: auto;
}