.pr1-image-1 img {
	top: 1324px;
	left: 150px;
	max-width: 576px;
	height:auto;
	display:block;
	position:absolute;
	z-index:-1;
}


.pr1-image-2 img {
	top: 1869px;
	left: 852px;
	width: 576px;
	height: auto;
	display:block;
	position:absolute;
	z-index:-1;
}

.pr1-image-3 img {
	top: 2468px;
	left: 336px;
	width: 622px;
	height: auto;
	display:block;
	position:absolute;
	z-index:-1;
}

.pr1-image-4 img {
	top: 3017px;
	left: 800px;
	width: 826px;
	height: auto;
	display:block;
	position:absolute;
	z-index:-1;
}

.pr1-image-5 img {
	top: 3377px;
	left: 236px;
	width: 825px;
	display:block;
	position:absolute;
	z-index:-1;
	cursor:pointer;
}

.pr1-image-5 {
	top: 3377px;
	left: 236px;
	width: 825px;
	display:block;
	position:absolute;
	z-index:-1;
	cursor:pointer;
}

.pr1-image-6 img {
	top: 4069px;
	left: 214px;
	width: 600px;
	display:block;
	position:absolute;
	z-index:-1;
}

.pr1-image-7 img {
	top: 4537px;
	left: 653px;
	width: 415px;
	display:block;
	position:absolute;
	z-index:-1;
}

.pr1-image-8 img {
	top: 1699px;
	left: 1431px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:2;
}

.pr1-image-9 img {
	top: 1768px;
	left: 1486px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:1;
}

.pr1-image-10 img {
	top: 2353px;
	left: 150px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:1;
}

.pr1-image-11 img {
	top: 3561px;
	left: 1214px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:1;
}

.pr1-image-12 img {
	top: 3697px;
	left: 1327px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:1;
}

.pr1-image-13 img {
	top: 3736px;
	left: 1263px;
	width: 128px;
	display:block;
	position:absolute;
	z-index:1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


#box {
  /* The box that will responsively resize */
  position: relative;
}
#box img {
  	display: block;
	height:auto;
	display:block;
	position:absolute;
	z-index:-1;
}
